In [2]:
import numpy as np
import pandas as pd

from datetime import datetime

In [4]:
my_year = 2015
my_month = 1
my_day = 1
my_hour = 2
my_min = 30
my_sec = 15

In [8]:
mydate = datetime(my_year, my_month, my_day, my_hour, my_min, my_sec)

In [9]:
mydate

datetime.datetime(2015, 1, 1, 2, 30, 15)

In [13]:
myser = pd.Series(['Nov 3, 1990', '2000-01-01', None])

In [14]:
myser

0    Nov 3, 1990
1     2000-01-01
2           None
dtype: object

In [16]:
timeser = pd.to_datetime(myser)

In [17]:
timeser[0].year

1990

In [18]:
sales = pd.read_csv('RetailSales_BeerWineLiquor.csv')

In [19]:
sales

           DATE  MRTSSM4453USN
0    1992-01-01           1509
1    1992-02-01           1541
2    1992-03-01           1597
3    1992-04-01           1675
4    1992-05-01           1822
..          ...            ...
335  2019-12-01           6630
336  2020-01-01           4388
337  2020-02-01           4533
338  2020-03-01           5562
339  2020-04-01           5207

[340 rows x 2 columns]

In [21]:
sales['DATE'] = pd.to_datetime(sales['DATE'])

In [22]:
sales['DATE'][0].year

1992